@import '../../styles.scss';

.copy {
  position: absolute;
  display: none;
  top: 8px;
  right: 8px;
  color: var(--fs-color-text-faint, light-dark(rgba(0, 0, 0, .38), #6A7779));
}

:host {
  .highlight-content {
    &:hover {
      .copy {
        display: block !important;
      }
    }
  }
}
