<div class="overview">
    <h1>Overview</h1>
    <li><b>npm run serve</b> Starts the playground web server</li>
    <li><b>npm run lint</b> Validates the package</li>
    <li><b>npm run release</b> Builds the release directory for publishing to NPM</li>
</div>
<fs-examples>
    <h1>Examples</h1> 
    <div class="example">
        <p>This is some text that could go above, and maybe below</p>
        <fs-example title="Input Component" componentName="fs-input-component">
            <fs-input-component></fs-input-component>
        </fs-example>
    </div>
    <div class="example">
        <p>This is some more text and I don't know what else to say</p>
        <fs-example title="Radio Component" componentName="fs-radio-component">
            <fs-radio-component></fs-radio-component>
        </fs-example>
    </div>
</fs-examples>