<div class="mat-elevation-z2">
  <mat-toolbar>
    <span>{{name}}</span>
    <div class="container">
      <ng-content select="[fs-example-actions]"></ng-content>
      <button mat-icon-button [matTooltip]="showTabs ? 'Hide Code' : 'View Code'" (click)="toggleContent()">
        <mat-icon>code</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div *ngIf="showTabs">
    <mat-tab-group>
      <div *ngFor="let tab of tabs">
        <mat-tab label="{{tab.name | uppercase}}">
          <fs-example-highlight [source]="tab.code" [language]="tab.type"></fs-example-highlight>
        </mat-tab>
      </div>
    </mat-tab-group>
  </div>
  <mat-card class="mat-elevation-z0">
    <div #items>
      <div *ngIf="show">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-card>
</div>
