@import '../../styles.scss';



mat-toolbar {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: rgba(0,0,0,0.54);
  font-size: 16px;
  display: flex;
  justify-content: space-between;

  a {
    color: inherit;

    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.content {
  padding: 20px;
  box-sizing: content-box;
}

.example-container {
  border-radius: 12px;
}

.example-code {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-family: monospace;
  margin: 0;
  padding: 15px !important;
}

:host {
  padding: 20px 0;
  display: block;
}

